/* Styles for login and signup pages */
.footer-label {
    -fx-text-fill: #f3efe8; /* light-beige */
}

/* Primary action buttons (Login, Sign Up) */
#loginButton, #signUpButton {
    -fx-background-color: #336659; /* green */
    -fx-text-fill: #f3efe8; /* white */
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

/* Primary buttons hover colors */
#loginButton:hover, #signUpButton:hover {
    -fx-text-fill: #3d3d3d; /* dark-grey */
    -fx-cursor: hand;
    cursor: pointer;
}

/* Secondary action buttons (Create Account, Back to Login) */
#goToSignupButton, #returnToLogin {
    -fx-text-fill: #3d3d3d; /* dark-grey */
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;

}

/* Secondary buttons hover colors */
#goToSignupButton:hover, #returnToLogin:hover {
    -fx-background-color: #6b8f71; /* main-green */
    -fx-text-fill: #f3efe8; /* white */
    -fx-cursor:hand;
    cursor:pointer;
}
