/* Styles for login and signup pages */

/* Primary action buttons (Login, Sign Up, Logout) */
#loginButton, #signUpButton, #logoutButton {
    -fx-background-color: #5B8C5A;
    -fx-text-fill: #000000;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

/* Primary buttons hover colors */
#loginButton:hover, #signUpButton:hover, #logoutButton:hover {
    -fx-background-color: #5B8C5A;
    -fx-text-fill: #ffffff;
}

/* Secondary action buttons (Create Account, Back to Login) */
#createAccountButton, #returnToLogin {
    -fx-background-color: #E3B23C;
    -fx-text-fill: #000000;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

/* Secondary buttons hover colors */
#createAccountButton:hover, #returnToLogin:hover {
    -fx-background-color: #9b7c27; 
    -fx-text-fill: #ffffff;
}

#front-text {
    -fx-text-fill: #7E6552;
}
