/* Common styles shared across all pages */

/* This is the color palette used for MooseMate

    --dark-green: #1f493d;
    --green: #336659;
    --main-green: #6b8f71;
    --light-beige: #f3efe8;
    --dark-grey: #3d3d3d;
    --white: #ffffff;
    --alert: #d27d56;
    --success: #ffd000;
    --error: #000000        */

/* Set Chewy Regular as default font (loaded programmatically) */
.root {
    -fx-font-family: "Chewy";
    -fx-font-weight: normal;
}


/* General button styling */
.button {
    cursor: pointer;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 2, 0, 0, 1);
    -fx-background-color: #1f493d; /* dark-green */
}

/* General button hover effect for all buttons */
.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 4, 0, 0, 2);
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-background-color: #6b8f71; /* main-green */
}

/* Error message styling */
.error-label {
    -fx-text-fill: #000000; /* error */
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5px 0 0 0;
    -fx-alignment: center;
}

/* Success message styling */
.success-label {
    -fx-text-fill: #ffd000; /* success */
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-padding: 5px 0 0 0;
    -fx-alignment: center;
}

/* Loading label styling */
.loading-label {
    -fx-text-fill: #f3efe8; /* light-beige */
}