.anchor-pane{
    background-color: #f7eedf;
    -fx-background-color: #f7eedf;
    -fx-text-fill: #321d0f;
}

#loginButton{
    -fx-background-color: #087e045d;
    -fx-text-fill: #000000;
    -fx-background-radius: 5px;
    -fx-border-color: #0000006f;
    -fx-border-width: 1px;
    -fx-border-height: 1px;
    -fx-border-radius: 5px;
}

#createAccountButton{
    background-color: #8a96065d;
    -fx-background-color: #8a96065d;
    -fx-text-fill: #000000;
    -fx-background-radius: 5px;
    -fx-border-color: #0000006f;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}